<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Personal</title>
</head>
<body>
    <h1>Posts</h1>

    <ul>
        <% posts.forEach(post=>{ %>
            <li><%= post._id %></li>
            <li> <%= new Date(post.timestamp).toLocaleString() %></li>
            <li><%= post.texto %></li>
            <li> <% if (post.imagen) { %>
                <img src="<%= post.imagen %>" alt="">
                <% } %>
            </li>
            <li>
                <a href="/edit/<%= post._id %>">Editar</a>
            </li>
            <li>
                <form action="/delete/<%= post._id %>" method="POST" style="display: inline;" onsubmit="return confirm('¿Estás seguro de que deseas borrar este post?');">
                    <button type="submit">Borrar</button>
                </form>
            </li>
            
        <% }) %>
    </ul>

    <form action="/add" method="POST">
        <label for="texto">Texto:</label>
        <textarea id="texto" name="texto" required></textarea>
    
        <label for="imagen">Imagen (opcional):</label>
        <input type="text" id="imagen" name="imagen" placeholder="URL de la imagen">
    
        <button type="submit">Publicar</button>
    </form>
</body>
</html>